@page
@model AspNetDemo.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>About</h1>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>What is Lorem Ipsum?</h2>
            <p>
                Lorem ipsum is a name for a common type of placeholder text. Also known as filler or dummy text,
                this is simply copy that serves to fill a space without actually saying anything meaningful.
                It's essentially nonsense text, but gives an idea of what real words will look like in the final product.
            </p>
        </div>
        <div class="col-sm">
            <h2>What is Lorem Ipsum?</h2>
            <p>
                Lorem ipsum is a name for a common type of placeholder text. Also known as filler or dummy text,
                this is simply copy that serves to fill a space without actually saying anything meaningful.
                It's essentially nonsense text, but gives an idea of what real words will look like in the final product.
            </p>
        </div>
        <div class="col-sm">
            <h2>What is Lorem Ipsum?</h2>
            <p>
                Lorem ipsum is a name for a common type of placeholder text. Also known as filler or dummy text,
                this is simply copy that serves to fill a space without actually saying anything meaningful.
                It's essentially nonsense text, but gives an idea of what real words will look like in the final product.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>What is Lorem Ipsum?</h2>
            <p>
                Lorem ipsum is a name for a common type of placeholder text. Also known as filler or dummy text,
                this is simply copy that serves to fill a space without actually saying anything meaningful.
                It's essentially nonsense text, but gives an idea of what real words will look like in the final product.
            </p>
        </div>
        <div class="col-sm">
            <h2>What is Lorem Ipsum?</h2>
            <p>
                Lorem ipsum is a name for a common type of placeholder text. Also known as filler or dummy text,
                this is simply copy that serves to fill a space without actually saying anything meaningful.
                It's essentially nonsense text, but gives an idea of what real words will look like in the final product.
            </p>
        </div>
        <div class="col-sm">
            <h2>What is Lorem Ipsum?</h2>
            <p>
                Lorem ipsum is a name for a common type of placeholder text. Also known as filler or dummy text,
                this is simply copy that serves to fill a space without actually saying anything meaningful.
                It's essentially nonsense text, but gives an idea of what real words will look like in the final product.
            </p>
        </div>
    </div>
</div>
